#root {
  text-align: center;
}

:root {
  line-height: 1.5;

  /*color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;*/

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: 'Prompt', sans-serif;
  font-weight: 300;
  margin: 0;
  /*display: flex;*/
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  background-color: #ddd;
  transition: background-color 0.25s;
  border: 1px solid transparent;
  border-radius: 8px;
  padding: 15px 10px;
  font-size: 1em;
  font-family: inherit;
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 30px;
  margin: 0px 5px;
}
button:hover {
  background-color: #ccc;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.topbar {
  display: flex;
  flex-direction: row;
  padding: 5px;
  /*box-shadow: 0px 0px 10px 3px #e8e8e8 inset;*/
  border: 1px solid #e8e8e8;
  align-items: center;
}

.logo {
  height: 25px;
  margin: 0px 10px;
}

.icon {
  height: 20px;
  width: 20px;
  padding-right: 5px;
}

.hamburger-icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
  border: 1px solid lightgray;
  border-radius: 5px;
  user-select: none;
}

.hamburger-menu {
  background-color: white;
  margin-top: 55px;
  position: absolute;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 10px;
}

.hammenu-option {
  font-size: 15px;
  display: flex;
  align-items: normal;
  padding: 10px 0px;
  cursor: pointer;
}

.fileUploadParent {
  position: relative;
}

.fileUpload {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  font-size: 0;
  text-indent: -100px;
}

.fileUpload#file-upload-button {
  cursor: pointer;
}

.resetWarning-bg {
  width: 100%;
  height: 100%;
  background-color: #00000044;
  display: flex;
  align-items: center;
  justify-content: center;
}

.resetWarning-body {
  font-size: 15px;
  width: 400px;
  height: 300px;
  position: absolute;
  background-color: white;
  z-index: 1;
}

.resetWarning-button {
  background-color: #ff2167;
  color: white;
  z-index: 2;
}

.context-menu {
  background-color: white;
  margin-top: 55px;
  position: absolute;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 10px;
  z-index: 10;
  width: 100px;
}

.context-option {
  font-size: 15px;
  display: flex;
  align-items: normal;
  padding: 10px 0px;
  cursor: pointer;
  width: 100%;
}